.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha no topo (com margin) em vez de centro absoluto */
  padding-top: 40px; /* Dá um respiro do topo */
  background-color: var(--background-light);
  min-height: 100%;
  width: 100%;
  padding:20px;
}

/* Wrapper apenas para limitar a largura do componente filho */
.create-card-wrapper {
  max-width: 500px;
  margin: 0 auto;

}
