.container {
  background-color: rgb(26, 36, 59);
  width: 100%;
  padding:20px;
  box-sizing: border-box;
}

/* Wrapper apenas para limitar a largura do componente filho */
.create-card-wrapper {
  max-width: 500px;
  margin: 0 auto;

}
