.container {
  background-color: rgb(26, 36, 59);
  width: 100%;
  padding:20px;
  border-radius: 20px;
  height: 59%;
  width: auto;
}

/* Wrapper apenas para limitar a largura do componente filho */
.create-card-wrapper {
  max-width: 500px;
  margin: 0 auto;

}

.create-card-section { 
  padding: 10px;;
  border-radius: 20px;
}
