.container {
  background-color: rgb(26, 36, 59);
  padding-top: 40px;
  border-radius: 20px;
  min-height: 67%;
  height: auto;
  /* Fix: Allow height to grow */
  width: 100%;
  /* Fix: Use full width */
  margin: 0 20px;
  /* Add margin for centering/spacing */
  display: flex;
  justify-content: center;
}

/* Wrapper apenas para limitar a largura do componente filho */
.create-card-wrapper {
  max-width: 500px;
  margin: 0 auto;

}

.create-card-section {
  padding: 10px;
  ;
  border-radius: 20px;
}