/* Fazer o conteúdo ocupar toda a largura disponível ao lado da sidenav */
.container {
  display: block;
  width: 100%;
  padding: 0;
}

.main-content{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard {
  width: 100%;
  padding:10px;
}

app-dashboard{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
}

h1 {
  margin: 0;
  padding: 20px;
  font-size: clamp(1.5rem, 4vw, 2rem);
  color: #333;
}


