<div class="container">
  <div class="content">
    <div class="contact-card">
      <!-- Left Side: Image -->
      <div class="image-side">
        <div class="image-container">
          <img [src]="isDarkTheme ? 'assets/apreto.png' : 'assets/abranco.png'" alt="Contact Illustration"
            class="contact-img">
        </div>
      </div>

      <!-- Right Side: Form -->
      <div class="form-side">
        <div class="header-container">

          <h1>Contate-nos</h1>
        </div>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
          <!-- Campo Nome -->
          <div class="form-group">
            <div class="input-wrapper">
              <span class="input-icon">👤</span>
              <input id="name" type="text" formControlName="name" placeholder="Nome Completo">
            </div>
            @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched) {
            <div class="error">
              Nome é obrigatório.
            </div>
            }
          </div>

          <!-- Campo Email -->
          <div class="form-group">
            <div class="input-wrapper">
              <span class="input-icon">✉️</span>
              <input id="email" type="email" formControlName="email" placeholder="Email">
            </div>
            @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
            <div class="error">
              Email inválido.
            </div>
            }
          </div>

          <!-- Campo Mensagem -->
          <div class="form-group">
            <textarea id="message" formControlName="message" rows="4" placeholder="Mensagem..."></textarea>
            @if (contactForm.get('message')?.invalid && contactForm.get('message')?.touched) {
            <div class="error">
              Mensagem é obrigatória.
            </div>
            }
          </div>

          <button type="submit" [disabled]="contactForm.invalid" class="submit-btn">
            Submit →
          </button>
        </form>
      </div>
    </div>
  </div>
</div>