
app-card{
  border: 3px solid black;
  border-radius: 20px;
  overflow: hidden;
  display:flex;
  padding:15px
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--spacing-lg);
}
