.home-container{
  display: flex;
  min-height: 100vh;
  background-color: #e7dede;
}

.content-area {
  display: flex;
  width: 100%;
}


app-sidebar {
  width: 250px;
  flex-shrink: 0;
}

app-header{
  width: 100%;
  flex-shrink: 0;
}

.logo {
  width: 200px;
  margin-top: 20px;
}

.texto-vindas {
  padding: 25px;
}

