.home-container {
  display: flex;
  min-height: 100vh;
  background-color: rgb(26, 36, 59);
  ;
}

.content-area {
  display: flex;
  width: 100%;
}

.content {
  padding-left: 0;
  /* Flex layout handles this */
  flex: 1;
  /* Take remaining space */
  padding: var(--spacing-lg);
  /* Add padding around content */
  overflow-y: auto;
  /* Allow scrolling if content overflows */
}


app-sidenav {
  width: 250px;
  flex-shrink: 0;
}

app-header {
  width: 100%;
  flex-shrink: 0;
}

.logo {
  width: 200px;
  margin-top: 20px;
}

.texto-vindas {
  padding: 25px;
}


@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .content-area {
    flex-direction: column;
  }

  app-sidenav {
    width: 100%;
    height: auto;
  }
}