/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*, *::before, *::after { box-sizing: border-box; }

/* Base responsive font sizing */
@media (max-width: 768px) {
	body { font-size: 14px; }
}

@media (max-width: 480px) {
	body { font-size: 13px; }
}
